/* write your override styles here */

.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {
    display: none;
}

#wall .tag-1 {
    display: none;
  }

#wall #tag-2 {
    display: none;
  } 

#wall #tag-3{
    display: none;
  }

#wall .parent {
    display: none;
  }
  
#wall .parent #tag-5 {
    display: none;
  }

#wall #tag-7 .slick{
    display: none;
  }

  #wall #tag-6{
    display: none;
  }